.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.result {
    display: flex;
    flex-direction: column;

    &__header {
        width: fit-content;
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 0.7em;
        margin-right: auto; 
        margin-left: auto;
        padding: 0.5em;
        background-color: $accentBright;
        color: $lightText;
        border-radius: 0.5em;
    }

    &__answers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }

    &__bmi {
        text-align: center;
        margin-bottom: 1.5em;

        p {
            margin-bottom: 0.5em;
        }

        span {
            display: inline-block;
            padding: 0.5em;
            font-weight: 600;
            background-color: darken($fieldBg, $amount: 5);
            color: $darkText;
            border-radius: 0.5em;           
        }
    }

    &__calories { 
        width: 100%;
        color: $darkText;

        li {
            .result__content {
                margin-top: 0.7em;
                cursor: pointer;
                display: grid;
                grid-template-columns: 8% 72% 20%;
                align-items: center;
                background-color: desaturate($fieldBg, $amount: 9);
                font-size: 0.9em;

                p {
                    padding: 0.3em;

                    @media(min-width: 720px) {
                        padding: 0.7em;
                    }     
                }

                span {
                    height: 100%;
                    padding: 0.3em;
                    text-align: center;
                    font-weight: 600;
                    background-color: darken($fieldBg, $amount: 5);

                    @media(min-width: 720px) {
                        padding: 0.7em;
                    }
                }
            }

            .details {
                max-height: 0;
	            overflow: hidden;
                grid-column: span 3;
                font-size: 0.95em;
                background-color: desaturate($fieldBg, $amount: 9);
                box-shadow: 0px 3px 2px inset rgba($accentDark, $alpha: 0.2);
            }

            .details__container {
                padding: 1rem;
            }

            .details.visible {
                animation: expand 300ms ease-in-out forwards;
                transform-origin: top;
            }
        } 
    }

    &__show-more {
        margin: auto 0.1em auto 0.3em;
        font-size: 1em;
        width: 0.9em;
        height: 0.9em;
        transition: transform 300ms;

        svg {
            height: 100%;
            width: 100%;
        }
    }

    &__show-more.opened {
        transform: rotate(180deg);
    }

    &__warning {
        position: relative;
        margin-top: 1.3rem;
        padding: 0.7em;
        padding-left: 3.4em;
        font-size: 0.95em;
        background-color: lighten($accentBright, $amount: 39);
        color: darken($accentBright, $amount: 39);

        &::before {
            content: url('../img/warning.svg');
            position: absolute;
            left: 0;
            vertical-align: middle;
            margin-left: 0.7em;
            width: 2em;
            height: 2em;
        }
    }

    &__calc {
        margin-left: auto;
        margin-top: 1em;
    }
}

@keyframes expand {
    0% {
        transform: scaleY(0);
        max-height: 0;
    }
    100% {
        transform: scaleY(1);
        max-height: 200px;
    }
}
